:root {
  --index: calc(1vw + 1vh);
  --gallery-gap: calc(var(--index) * 10);
  --bgc-icon-mobile-phone: linear-gradient(to right, #11998e, #38ef7d);
  --bgc-icon-email: linear-gradient(to right, #d4145a, #fbb03b);
  --bgc-icon-telegram: linear-gradient(to right, #56ccf2, #2f80ed);
  --bgc-icon-linkedin: linear-gradient(to right, #396afc, #2948ff);
  --bgc-icon-github: linear-gradient(to right, #ece9e6, #ffffff);
  --icon-white-color: #ffffff;
  --icon-black-color: black;
  --icon-border-white: #ffffff;
  --web-studio-title-color: #2196f3;
  --ice-cream-title-color: #ffa5ba;
  --filmoteka-title-color: rgb(255, 0, 27);
  --task-pro-title-color: #bedbb0;
  --image-finder-title-color: rgb(100, 243, 140);
  --button-shadow: black 3px 3px 5px, rgba(0, 0, 0, 0.15) 0px 14px 10px,
    rgba(0, 0, 0, 0.1) 0px 34px 30px;
  --button-shadow-active: black 1px 1px 5px, rgba(0, 0, 0, 0.15) 0px 14px 10px,
    rgba(0, 0, 0, 0.1) 0px 34px 30px;
  --button-transition: 100ms;
  --social-icon-transition: 300ms;
  --burger-icon-transition: 300ms;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}
.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

body {
  background-color: #fff;
  color: black;
  font-family: raleway-c;
  overflow-x: hidden;
  line-height: 1.75;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}

.container {
  padding: 0 2vw;
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 7vw;
  }
}
.social {
  align-items: center;
  gap: 5px;
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 10.5);
  background-image: url(../img/brush-stroke/brush-stroke-1.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 250px;
  padding: 0;
  display: none;
}
@media (min-width: 1024px) {
  .social {
    display: flex;
  }
}

.social__item {
  list-style-type: none;
}

.social__item:first-child {
  padding-left: 30px;
}

.social__icon {
  fill: var(--icon-white-color);
  border: 0.5px solid var(--icon-border-white);
  border-radius: 3px;
  transition: var(--social-icon-transition);
}

.social__icon--mobile-phone,
.social__icon--email {
  padding: 4px;
}

.social__link:hover .social__icon {
  transition: var(--social-icon-transition);
  transform: scale(1.15);
}

.social__link:hover .social__icon--mobile-phone {
  background: var(--bgc-icon-mobile-phone);
  border: none;
}

.social__link:hover .social__icon--email {
  background: var(--bgc-icon-email);
  border: none;
}

.social__link:hover .social__icon--telegram {
  background: var(--bgc-icon-telegram);
  border: none;
}

.social__link:hover .social__icon--linkedin {
  background: var(--bgc-icon-linkedin);
  border: none;
}

.social__link:hover .social__icon--github {
  background: var(--bgc-icon-github);
  fill: var(--icon-black-color);
}

.hero {
  display: block;
  margin: auto;
  width: calc(var(--index) * 32);
}

@media (min-width: 425px) {
  .hero {
    width: calc(var(--index) * 40);
  }
}
@media (min-width: 768px) {
  .hero {
    width: calc(var(--index) * 46);
    top: 10vh;
  }
}
@media (min-width: 1024px) {
  .hero {
    width: calc(var(--index) * 45);
    left: 31vw;
    top: 1vh;
  }
}
.main-header {
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 50px;
}

.main-title {
  font-size: calc(var(--index) * 6);
  position: absolute;
  width: -moz-min-content;
  width: min-content;
  bottom: 30vh;
  line-height: 1.1;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.01em;
  font-family: "Playfair Display", serif;
  margin: 0;
}

@media (min-width: 768px) {
  .main-title {
    bottom: 10vh;
  }
}
@media (min-width: 1024px) {
  .main-title {
    bottom: 30vh;
  }
}
.about {
  margin: 400px 15px 150px;
  font-size: calc(var(--index) * 1.2);
}

@media (min-width: 768px) {
  .about {
    margin: 300px 50px 200px;
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .about {
    margin: 200px 10px 0;
    font-size: calc(var(--index) * 1.1);
  }
}
.image-brushes {
  background-image: url(../img/brush-stroke/brush-stroke-image.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: calc(var(--index) * 3) 40px;
}

.image-brushes:not(:last-child) {
  margin-bottom: calc(var(--gallery-gap) * 1);
}

@media (min-width: 768px) {
  .image-brushes {
    padding: calc(var(--index) * 4) 70px;
  }
}
@media (min-width: 1024px) {
  .image-brushes {
    padding: calc(var(--index) * 3) 60px;
  }
  .image-brushes:not(:last-child) {
    margin-bottom: calc(var(--gallery-gap) * 1.3);
  }
  .image-brushes:first-child {
    margin-top: calc(var(--gallery-gap) * 1.7);
  }
}
.gallery {
  display: none;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  border-radius: 8px;
}

@media (min-width: 768px) {
  .gallery__item {
    max-width: calc(var(--index) * 35);
    border-radius: 8px;
  }
}
@media (min-width: 1024px) {
  .gallery {
    display: flex;
    padding: calc(var(--index) * 1) 0;
  }
  .gallery > * {
    flex: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .gallery__item {
    max-width: calc(var(--index) * 21);
    max-height: 180vh;
    border-radius: 8px;
  }
  .gallery__left {
    margin-top: calc(var(--gallery-gap) * 1.1);
  }
  .gallery__right {
    margin: 0;
    margin-top: calc(var(--gallery-gap) * 1);
  }
}
.text-block {
  padding: 0 2rem;
}

.text-block__title {
  font-size: calc(var(--index) * 3);
  line-height: calc(var(--index) * 1);
  margin-bottom: 2rem;
}

.text-block__title--web-studio {
  color: var(--web-studio-title-color);
}

.text-block__title--ice-cream {
  color: var(--ice-cream-title-color);
}

.text-block__title--filmoteka {
  color: var(--filmoteka-title-color);
}

.text-block__title--task-pro {
  color: var(--task-pro-title-color);
}

.text-block__title--image-finder {
  color: var(--image-finder-title-color);
}

.text-block__paragraph {
  line-height: 1.75;
  font-size: calc(var(--index) * 1.3);
}

@media (min-width: 768px) {
  .text-block {
    padding: 0 5rem;
  }
}
@media (min-width: 1024px) {
  .text-block {
    padding: 0;
  }
  .text-block__web-studio {
    margin-bottom: calc(var(--gallery-gap) * 2.8);
  }
  .text-block__ice-cream {
    margin-bottom: calc(var(--gallery-gap) * 1.6);
  }
  .text-block__filmoteka {
    margin-top: calc(var(--gallery-gap) * 1.15);
    margin-bottom: calc(var(--gallery-gap) * 2.8);
  }
  .text-block__task-pro {
    margin-bottom: calc(var(--gallery-gap) * 1.4);
  }
  .text-block__image-finder {
    margin-top: calc(var(--gallery-gap) * 1.15);
  }
  .text-block__title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }
  .text-block__paragraph {
    line-height: 1.75;
    font-size: calc(var(--index) * 0.8);
  }
}
.footer {
  background-image: url(../img/brush-stroke/brush-footer-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 10%;
  height: 30px;
}

@media (min-width: 768px) {
  .footer {
    height: 70px;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 100px;
  }
}
.on-top {
  height: 42px;
  position: fixed;
  right: 30px;
  bottom: 10%;
  border-radius: 150%;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;
  display: none;
  transform: translate(-1px, -1px);
  box-shadow: var(--button-shadow);
}

.on-top--show-btn {
  display: block;
}

.on-top:hover {
  opacity: 1;
}

.on-top:active {
  transform: translateY(0px);
  box-shadow: var(--button-shadow-active);
  transition: var(--button-transition);
}

.arrow-up {
  fill: var(--icon-black-color);
  background-color: #fff;
  border-radius: 50%;
}

.menu-button {
  width: 22px;
  height: 22px;
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 200;
  cursor: pointer;
  border: none;
  background-color: transparent;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}

@media (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
.burger-menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--icon-black-color);
}
.burger-menu::before, .burger-menu::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--icon-black-color);
  left: 0;
  z-index: 200;
  transition: transform 300ms ease 300ms;
}
.burger-menu::before {
  top: 8px;
}
.burger-menu::after {
  top: -8px;
}

.is-open .burger-menu {
  background-color: transparent;
}

.is-open .burger-menu::before,
.is-open .burger-menu::after {
  background-color: red;
  top: 0;
}

.is-open .burger-menu::before {
  transform: rotate(45deg);
}

.is-open .burger-menu::after {
  transform: rotate(-45deg);
}

.social-mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 300ms ease 500ms;
}
.social-mobile-menu-container.is-open {
  transform: translateX(0);
  transition: transform 300ms ease;
}

.social-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 50px;
  background-color: black;
  padding: 0;
  margin: 0;
}
.social-mobile-menu__item {
  list-style-type: none;
}
.social-mobile-menu__icon {
  fill: var(--icon-white-color);
  border: 0.5px solid var(--icon-border-white);
  border-radius: 3px;
  transition: var(--social-icon-transition);
}
.social-mobile-menu__icon--mobile-phone, .social-mobile-menu__icon--email {
  padding: 4px;
}
.social-mobile-menu__link:hover .social-mobile-menu__icon {
  transition: var(--social-icon-transition);
  transform: scale(1.15);
}
.social-mobile-menu__link:hover .social-mobile-menu__icon--mobile-phone {
  background: var(--bgc-icon-mobile-phone);
  border: none;
}
.social-mobile-menu__link:hover .social-mobile-menu__icon--email {
  background: var(--bgc-icon-email);
  border: none;
}
.social-mobile-menu__link:hover .social-mobile-menu__icon--telegram {
  background: var(--bgc-icon-telegram);
  border: none;
}
.social-mobile-menu__link:hover .social-mobile-menu__icon--linkedin {
  background: var(--bgc-icon-linkedin);
  border: none;
}
.social-mobile-menu__link:hover .social-mobile-menu__icon--github {
  background: var(--bgc-icon-github);
  fill: var(--icon-black-color);
}

.mobile-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--index) * 3) 0;
}

@media (min-width: 1024px) {
  .mobile-gallery {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */