:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;
  --gallery-gap: calc(var(--index) * 10);
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: outfit-c;
}

ul {
  padding: 0;
}

.content,
.hero,
.main-header,
.gallery > * {
  will-change: transform;
}

body {
  background-color: #fff;
  background-size: 50px;
  color: black;
  font-family: raleway-c;
  overflow-x: hidden;
}

.social {
  display: flex;
  align-items: center;
  gap: 5px;
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 10.5);
  background-image: url(/img/brush-stroke/brush-stroke-1.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 250px;
  padding: auto 0;
}

.social:nth-child(1) {
  padding-left: 30px;
  /* gap: 0; */
}

.social__item {
  list-style-type: none;
}

.social__link {
}

.social__icon {
  fill: white;
}

.hero {
  width: calc(var(--index) * 40);
  position: absolute;
  left: 39vw;
  top: 5vh;
  z-index: -1;
}

.container {
  padding: 0 7vw;
}

.main-header {
  height: 100vh;
}

.main-title {
  font-size: calc(var(--index) * 6);
  position: absolute;
  width: min-content;
  bottom: 15vh;
  line-height: 1.1;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.01em;
  font-family: "Playfair Display", serif;
}

/* POrtfolio galery------------------------ */

.gallery {
  display: flex;
  padding: calc(var(--index) * 8) 0;
}

.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  max-width: calc(var(--index) * 21);
  max-height: 180vh;
  margin-bottom: var(--gallery-gap);
  border-radius: 8px;
}

.gallery__left {
  margin-top: calc(var(--gallery-gap) * 1.5);
  /* margin-top: var(--gallery-gap); */
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: var(--gallery-gap);
  /* margin-top: calc(var(--gallery-gap) * 1.5); */
}

.text-block {
  color: var(--color-text);
  position: relative;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-header);
  margin-bottom: 1.5rem;
}

.text-block__p {
  line-height: 1.75;
}
