<section class="mobile-gallery">
  <div class="image-brushes">
    <a
      class="gallery__link"
      href="https://evgen-zaharevich.github.io/web-studio/"
      target="_blank"
    >
      <img
        class="gallery__item"
        src="./img/work/WebStudio.jpg"
        alt="Website image"
      />
    </a>
  </div>

  <div class="text-block text-block__web-studio gallery__item">
    <h2 class="text-block__title">
      <span class="text-block__title--web-studio">W</span>ebStudio
    </h2>
    <p class="text-block__paragraph">
      Adaptive and Responsive Web Site for a Studio that Develops new Interfaces
      and Designs. <br />
      Technologies Used: HTML, SCSS, JavaScript.
    </p>
  </div>

  <div class="image-brushes">
    <a
      class="gallery__link"
      href="https://evgen-zaharevich.github.io/ice-cream/"
      target="_blank"
    >
      <img
        class="gallery__item"
        src="./img/work/IceCreame.jpg"
        alt="Website image"
      />
    </a>
  </div>

  <div class="text-block text-block__ice-cream gallery__item">
    <h2 class="text-block__title">
      <span class="text-block__title--ice-cream">I</span>ceCream
    </h2>
    <p class="text-block__paragraph">
      Adaptive Web Site for Ice Cream Store. <br />
      Technologies Used: HTML, SCSS, JavaScript, JQuery, Parcel, Animation.css
    </p>
  </div>

  <div class="image-brushes">
    <a
      class="gallery__link"
      href="https://evgen-zaharevich.github.io/filmoteka"
      target="_blank"
    >
      <img
        class="gallery__item"
        src="./img/work/Filmoteka.jpg"
        alt="Website image"
      />
    </a>
  </div>

  <div class="text-block text-block__filmoteka gallery__item">
    <h2 class="text-block__title">
      <span class="text-block__title--filmoteka">F</span>ilmoteka
    </h2>
    <p class="text-block__paragraph">
      A Site where you can familiarize yourself with Novelties, Bestsellers and
      ordinary Films of the World of Cinema. Get acquainted with the
      Description, watch the Trailer, find out the Rating of the Film.
      <br />
      Technologies Used: HTML, SCSS, JavaScript, Parcel, Axios, Notiflix,
      Darkmode-JS.
    </p>
  </div>

  <div class="image-brushes">
    <a
      class="gallery__link"
      href="https://dmitriyushkvarok.github.io/team-project-task-pro-frontend/"
      target="_blank"
    >
      <img
        class="gallery__item"
        src="./img/work/TaskPro.jpg"
        alt="Website image"
    /></a>
  </div>

  <div class="text-block text-block__task-pro gallery__item">
    <h2 class="text-block__title">
      <span class="text-block__title--task-pro">T</span>askPro
    </h2>
    <p class="text-block__paragraph">
      Application for Planning your Work and free Time. Technologies Used:
      React.JS, Redux, React Datepicker, React Icons, React Loader Spinner,
      React Toastify, Styled-Components, Bootstrap, Date-fns, Dayjs, Formik,
      Notiflix, Overlayscrollbars, Prop-Types, Uuid, Yup.
    </p>
  </div>

  <div class="image-brushes">
    <a
      class="gallery__link"
      href="https://evgen-zaharevich.github.io/ImageFinder/"
      target="_blank"
    >
      <img
        class="gallery__item"
        src="./img/work/ImageFinder.jpg"
        alt="Website image"
      />
    </a>
  </div>

  <div class="text-block text-block__image-finder gallery__item">
    <h2 class="text-block__title">
      <span class="text-block__title--image-finder">I</span>mageFinder
    </h2>
    <p class="text-block__paragraph">
      A simple and attractive Image search Website with Pixabay API. <br />
      Technologies Used: React.JS, Axios, Nanoid, Styled-Components, Web-Vitals.
    </p>
  </div>
</section>
