<ul class="social">
  <li class="social__item">
    <a
      class="social__link"
      href="tel:+380983505359"
      target="_blank"
      title="Call Evgen"
    >
      <svg
        class="social__icon social__icon--mobile-phone"
        width="30"
        height="30"
      >
        <use href="./img/icons.svg#mobile-phone"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a
      class="social__link"
      href="mailto:Zaharevich.Evgen@gmail.com"
      target="_blank"
      title="Send a letter to Evgen"
    >
      <svg class="social__icon social__icon--email" width="30" height="30">
        <use href="./img/icons.svg#email"></use>
      </svg>
    </a>
  </li>

  <li class="social__item">
    <a
      class="social__link"
      href="https://t.me/Evgen_Zaharevich"
      target="_blank"
      title="Send a message to Evgen in Telegram"
    >
      <svg class="social__icon social__icon--telegram" width="30" height="30">
        <use href="./img/icons.svg#telegram"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a
      class="social__link"
      href="https://www.linkedin.com/in/evgen-zaharevich-92546a265/"
      target="_blank"
      title="Open Evgen's LinkedIn page"
    >
      <svg class="social__icon social__icon--linkedin" width="30" height="30">
        <use href="./img/icons.svg#linkedin"></use>
      </svg>
    </a>
  </li>
  <li class="social__item">
    <a
      class="social__link"
      href="https://github.com/Evgen-Zaharevich"
      target="_blank"
      title="Open Evgen's GitHub page"
    >
      <svg class="social__icon social__icon--github" width="30" height="30">
        <use href="./img/icons.svg#github"></use>
      </svg>
    </a>
  </li>
</ul>
