.about {
  margin: 400px 15px 150px;
  font-size: calc(var(--index) * 1.2);
}

.about::first-letter {
  font-size: 2em; /* Увеличиваем размер шрифта в 2 раза */
  font-weight: bold; /* Жирный стиль */
  color: #ff6600; /* Оранжевый цвет текста */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Тень текста */
  margin-right: 2px; /* Расстояние справа */
  padding: 5px; /* Внутренний отступ */
  background-color: #f0f0f0; /* Фоновый цвет */
  border-radius: 5px;
}

// .about__word-selection {
//   font-size: 1em; /* Увеличиваем размер шрифта в 2 раза */
//   font-weight: bold; /* Жирный стиль */
//   color: #ff6600; /* Оранжевый цвет текста */
//   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Тень текста */
//   margin-right: 2px; /* Расстояние справа */
//   padding: 5px; /* Внутренний отступ */
//   background-color: #f0f0f0; /* Фоновый цвет */
//   border-radius: 5px;
// }

@media (min-width: 768px) {
  .about {
    margin: 300px 50px 200px;
    font-size: calc(var(--index) * 1.3);
  }
}

@media (min-width: 1024px) {
  .about {
    margin: 200px 10px 0;
    font-size: calc(var(--index) * 1.1);
  }
}
