.about {
  margin: 100px 15px 150px;
  font-size: calc(var(--index) * 1.5);
}

@media (min-width: 768px) {
  .about {
    margin: 300px 50px 200px;
    font-size: 30px;
  }
}

@media (min-width: 1024px) {
  .about {
    margin: 200px 130px 50px;
    font-size: 30px;
  }
}
