.footer {
  background-image: url(../img/brush-stroke/brush-footer-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 10%;
  height: 30px;
}

@media (min-width: 10242px) {
  .footer {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 10%;
    height: 100px;
  }
}
