.hero {
  width: calc(var(--index) * 32);
  position: absolute;
  z-index: -1;
}

@media (min-width: 425px) {
  .hero {
    width: calc(var(--index) * 40);
  }
}

@media (min-width: 768px) {
  .hero {
    width: calc(var(--index) * 46);
    top: 10vh;
  }
}

@media (min-width: 1024px) {
  .hero {
    width: calc(var(--index) * 45);
    left: 31vw;
    top: 1vh;
  }
}
