.hero {
  width: calc(var(--index) * 37);
  position: absolute;
  top: -25vh;
  z-index: -1;
}

@media (min-width: 768px) {
  .hero {
    width: calc(var(--index) * 40);
    left: 39vw;
    top: 5vh;
  }
}
