.on-top {
  height: 42px;
  position: fixed;
  right: 30px;
  bottom: 10%;
  border-radius: 150%;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;

  display: none;

  transform: translate(-1px, -1px);
  box-shadow: var(--button-shadow);
}

.on-top--show-btn {
  display: block;
}

.on-top:hover {
  opacity: 1;
}

.on-top:active {
  transform: translateY(0px);
  box-shadow: var(--button-shadow-active);
  transition: var(--button-transition);
}

.arrow-up {
  fill: var(--icon-black-color);
  background-color: #fff;
  border-radius: 50%;
}
