.on-top {
  position: fixed;
  right: 30px;
  bottom: 10%;
  border-radius: 50%;
  background-color: black;
  opacity: 0.8;
  cursor: pointer;

  display: none;

  transform: translate(-1px, -1px);
  box-shadow: black 3px 3px 5px, rgba(0, 0, 0, 0.15) 0px 14px 10px,
    rgba(0, 0, 0, 0.1) 0px 34px 30px;
}

.on-top--show-btn {
  display: block;
}

.on-top:hover {
  opacity: 1;
}

.on-top:active {
  transform: translateY(0px);
  box-shadow: black 1px 1px 5px, rgba(0, 0, 0, 0.15) 0px 14px 10px,
    rgba(0, 0, 0, 0.1) 0px 34px 30px;
  transition: 100ms;
}

.arrow-up {
  fill: black;
  background-color: #fff;
  border-radius: 50%;
}
