.social {
  display: flex;
  align-items: center;
  gap: 5px;
  width: calc(var(--index) * 15);
  height: calc(var(--index) * 10.5);
  background-image: url(../img/brush-stroke/brush-stroke-1.png);
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-size: 250px;
  padding: 0;
  display: none;
}

.social__item {
  list-style-type: none;
}

.social__item:first-child {
  padding-left: 30px;
}

.social__icon {
  fill: var(--icon-white-color);
  border: 0.5px solid var(--icon-border-white);
  border-radius: 3px;
  transition: var(--social-icon-transition);
}

.social__icon--mobile-phone,
.social__icon--email {
  padding: 4px;
}

.social__link:hover .social__icon {
  transition: var(--social-icon-transition);
  transform: scale(1.15);
}
.social__link:hover .social__icon--mobile-phone {
  background: var(--bgc-icon-mobile-phone);
  // fill: var(--icon-black-color);
  border: none;
}
.social__link:hover .social__icon--email {
  background: var(--bgc-icon-email);
  // fill: var(--icon-black-color);
  border: none;
}
.social__link:hover .social__icon--telegram {
  background: var(--bgc-icon-telegram);
  border: none;
}
.social__link:hover .social__icon--linkedin {
  background: var(--bgc-icon-linkedin);
  border: none;
}
.social__link:hover .social__icon--github {
  background: var(--bgc-icon-github);
  fill: var(--icon-black-color);
}
