.text-block {
  padding: 0 2rem;
}

.text-block__title {
  font-size: calc(var(--index) * 3);
  line-height: calc(var(--index) * 1);
  margin-bottom: 2rem;
}

.text-block__title--web-studio {
  color: var(--web-studio-title-color);
}

.text-block__title--ice-cream {
  color: var(--ice-cream-title-color);
}
.text-block__title--filmoteka {
  color: var(--filmoteka-title-color);
}
.text-block__title--task-pro {
  color: var(--task-pro-title-color);
}
.text-block__title--image-finder {
  color: var(--image-finder-title-color);
}

.text-block__paragraph {
  line-height: 1.75;
  font-size: calc(var(--index) * 1.3);
}

@media (min-width: 768px) {
  .text-block {
    padding: 0 5rem;
  }
}

@media (min-width: 1024px) {
  .text-block {
    padding: 0;
  }
  .text-block__web-studio {
    margin-bottom: calc(var(--gallery-gap) * 2.8);
  }
  .text-block__ice-cream {
    margin-bottom: calc(var(--gallery-gap) * 1.6);
  }
  .text-block__filmoteka {
    margin-top: calc(var(--gallery-gap) * 1.15);
    margin-bottom: calc(var(--gallery-gap) * 2.8);
  }
  .text-block__task-pro {
    margin-bottom: calc(var(--gallery-gap) * 1.4);
  }
  .text-block__image-finder {
    margin-top: calc(var(--gallery-gap) * 1.15);
  }

  .text-block__title {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 1.5rem;
  }

  .text-block__paragraph {
    line-height: 1.75;
    font-size: calc(var(--index) * 0.8);
  }
}
