.text-block {
  color: black;
  position: relative;
}

.text-block__web-studio {
  margin-bottom: calc(var(--gallery-gap) * 2.8);
}
.text-block__ice-cream {
  margin-bottom: calc(var(--gallery-gap) * 1.6);
}
.text-block__filmoteka {
  margin-top: calc(var(--gallery-gap) * 1.15);
  margin-bottom: calc(var(--gallery-gap) * 2.8);
}
.text-block__task-pro {
  margin-bottom: calc(var(--gallery-gap) * 1.4);
}
.text-block__image-finder {
  margin-top: calc(var(--gallery-gap) * 1.15);
}

.text-block__title {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1.5rem;
}

.text-block__title--web-studio {
  color: #2196f3;
}

.text-block__title--ice-cream {
  color: #ffa5ba;
}
.text-block__title--filmoteka {
  color: rgb(255, 0, 27);
}
.text-block__title--task-pro {
  color: #bedbb0;
}
.text-block__title--image-finder {
  color: rgb(100, 243, 140);
}

.text-block__paragraph {
  line-height: 1.75;
}
